<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @announcement.title %></h1>
    <p>
      <%= @announcement.body.html_safe %><br/>
    </p>
    <a href="http://cerebro.thecoderfactory.com">Visit site now</a>

  
  </body>
</html>