

<% if current_user.user_profile.nil? %>
<br>
<div class="alert alert-warning">
  Please create your <%= link_to 'user profile', new_user_profile_path, :class => 'alert-link' %>.
</div>
<br>
<% end %>
