<div class="row">

  	<div class="col-md-12"><h2>My profile <small><%= link_to 'Change password', edit_user_registration_path(current_user) %></small></h2>
    	<div class="box-body">
			<%= render 'form' %>
		
			</div>
		</div>
	</div>
	
</div>
