<h2><i class="icon-github"></i> Projects</h2>
<div class="box-body">
<table class="table">
  <thead>
    <tr>
      <th>Week</th>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td width="100px">Week <%= project.week.number %></td>
        <td><%= link_to project.title, project %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<% if current_user.has_role? :admin %>
<%= link_to 'New Project', new_project_path %>
<% end %>